@import url('https://rsms.me/inter/inter.css');
@font-face {
  font-family: SegoeUI;
  src:
      local("Segoe UI"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
  font-weight: 400;
}
header, footer { font-family:
    'Inter',
    SegoeUI !Important;
}
@supports (font-variation-settings: normal) {
  header, footer { font-family:
      'Inter var',
      SegoeUI !Important;
  }
}
html, .home-description, .search-results, .copyright {
  font-family:
    SegoeUI,
    Meiryo,
    "メイリオ",
    monospace,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
}
html {
  font-size: 1.2em;
}
.home-description {
  font-size: 0.9em;
  line-height: 1.3em;
}
.search-results {
  font-size: 0.8em;
  line-height: 1.15em;
}
.copyright {
  font-size: 1em;
}
.home-title {
  font-family: SegoeUI !Important;
  font-size: 1.8em;
  line-height: 1.1em;
}
pre, code {
  font-family:
    'Consolas',
    'Ricty Diminished',
    monospace,
    SegoeUI,
    Meiryo,
    "メイリオ",
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol' !Important;
  font-size: 0.9rem;
  line-height: 1.45em;
}
