@import url('https://rsms.me/inter/inter.css');
header, footer { font-family:
    'Inter',
    'Segoe UI',
    'Courier New',
    Courier,
    monospace,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
}
@supports (font-variation-settings: normal) {
  header, footer { font-family:
      'Inter var',
      'Segoe UI',
      'Courier New',
      Courier,
      monospace,
      Helvetica,
      Arial,
      sans-serif,
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol';
  }
}
html, .home-description, .search-results, .copyright {
  font-family:
    'Segoe UI',
    'Consolas',
    'Courier New',
    Courier,
    "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN",
    Meiryo,
    "メイリオ",
    monospace,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
}
html {
  font-size: 1.2em;
}
.home-description {
  font-size: 0.9em;
  line-height: 1.3em;
}
.search-results {
  font-size: 0.8em;
  line-height: 1.15em;
}
.copyright {
  font-size: 1em;
}
.home-title {
  font-family:
    'Segoe UI',
    'Consolas',
    'Courier New',
    Courier,
    "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN",
    Meiryo,
    "メイリオ",
    monospace,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-size: 1.8em;
  line-height: 1.1em;
}
pre, code {
  font-family:
    'Consolas',
    'Ricty Diminished',
    'Segoe UI',
    'Courier New',
    Courier,
    monospace,
    "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN",
    Meiryo,
    "メイリオ",
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-size: 0.9rem;
  line-height: 1.45em;
}
