body {
  background: #0F0F1F;
  color: #ddd;
  max-width: 930px;
  margin: auto;
  padding: .2em;
  line-height: 1.5em;
}
main {
  hyphens: auto;
  max-width: 98%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.7em;
  hyphens: auto;
  display: block;
  font-size: 1.1em;
}
main p {
  margin-top: 2em;
  margin-bottom: 2em;
}
main p#mail-caption, .contacts p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
main h1 {
  border-left: .35em solid #D0AF4C;
  border-bottom: 1px dashed #D0AF4C;
  padding-bottom: .6em;
  padding-top: .3em;
}
main h2 {
  border-left: .3em solid #D0AF4C;
  border-bottom: 1px dashed #D0AF4C;
  padding-bottom: .5em;
  padding-top: .2em;
}
main h3 {
  display: inline-block;
  border-left: .2em solid #D0AF4C;
  border-bottom: 1px dashed #D0AF4C;
  padding-bottom: .3em;
  padding-top: .1em;
  margin-bottom: 0em;
}
main h4 {
  border-left: .2em solid #D0AF4C;
  padding-bottom: .2em;
  padding-top: .1em;
}
main h1, main h2, main h3, main h4 {
  margin-top: 3.5em;
  padding-left: .5em;
}
main .updates h1, main .updates h2, main h3, main h4 {
  margin-top: 1.5em;
}
main .updates {
  margin-top: 1em;
  margin-bottom: 1em;
}

.content-wrapper {
  padding: 0.5em 12px 0.5em 12px;
  font-size: 0.9em;
}
.content-wrapper a {
  text-decoration: none;
}
.content-wrapper main a {
  text-decoration: underline;
}

/* Various classes */
.menu li { display: inline-block; }
.article-meta, .menu a {
  color: #ddd;
  padding: 5px;
  text-align: left;
}
.article-meta a { font-size: 1.14em; }

/* .home-title { text-align: center; } */
.menu { text-align: center; }
.title {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}
.date {
  font-size: 0.9em;
  margin-left: 0.5rem;
}
.terms {
  font-size: 0.8em;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}
.postdate { font-size: 0.9em; }
.notfound {
  font-size: 2em;
  font-weight: 700;
  margin-top: 0.5em;
  margin-bottom: 0.6em;
}
.copyright {
  text-align: center;
  margin-top: 1em;
  padding-bottom: 0.8em;
}
.footnote-ref {
  margin: 0.1em;
  font-weight: 600;
  color: #D0AF4C;
}
.footnotes {
  margin-top: 4rem;
  margin-bottom: 3rem;
  font-size: 0.9em;
}
.footnotes p {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
/* .contacts { */
/*   width: 0.1em; */
/*   max-width: 20%; */
/* } */
.page-links {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  text-decoration: none !important;
}
.arrow-left {
  float: left;
  margin-right: 0.5em;
}
.arrow-right {
  float: right;
  margin-left: 0.5em;
}
.prev-link {
  float: left;
  display: absolute;
  font-size: 0.9em;
  overflow: hidden;
  max-width: 40%;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; /* Safari */
  -o-text-overflow: ellipsis; /* Opera */
}
.next-link {
  float: right;
  display: absolute;
  font-size: 0.9em;
  overflow: hidden;
  max-width: 40%;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; /* Safari */
  -o-text-overflow: ellipsis; /* Opera */
}
.prev-link a, .next-link a {
  text-decoration: none !important;
}

hr {
  border-color: #eee;
  border-width: .05em;
  height: 1px;
  border-style: dashed;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
.article-meta > hr {
  height: 1.2px;
  margin-top: 2em;
  margin-bottom: 1.2em;
}
.footnotes > hr {
  height: 5px;
  width: 95%;
  background-color: #D0AF4C;
}

.pull-home {
  float: left;
}
.pull-left {
  float: left;
  padding-top: -0.5em;
}
.pull-right {
  float: right;
  margin-left: -0.5em;
}
.pull-link {
  float: right;
  margin-top: 0.1em;
  margin-left: -0.5em;
}

a {
  color: #a0a0a0;
  text-decoration: none;
}
a:hover {
  color: #FFD700;
  text-decoration: none;
}
.recent-posts a {
  text-decoration: none;
}

/* Header and Footer */
header {
  position: relative;
  width: 100%;
  height: 1.75rem;
  font-size: 0.92rem;
  background: #D0AF4C;
}
header ul,
header ol {
  margin: 0;
  padding: 0;
  list-style: none
}
header nav {
  padding: 0 0rem
}
header a {
  color: #0F0F1F;
  line-height: 1.75rem;
  padding: 0 0.5rem;
  font-size: 1.01em;
  margin-left: 0.35em;
  margin-right: -0.2em;
}
header .current a {
  color: #0F0F1F;
  font-weight: bold;
}
header a:hover {
  color: #0F0F1F;
  text-decoration: underline;
}
.current-header {
  color: #D0AF4C;
  background: #0F0F1F;
  font-weight: bold;
  line-height: 1.8rem;
  margin-top: 0.1rem;
  padding-left: 0.65em;
  padding-right: 0.65em;
  display: inline-block;
  border-radius: 0.3em;
  border-bottom-left-radius: 0em;
  border-bottom-right-radius: 0em;
  margin-left: 0.35em;
  margin-right: -0.2em;
}

footer {
  position: relative;
  width: 100%;
  height: 1.77rem;
  margin-top: 2rem;
  font-size: 0.92rem;
  background: #D0AF4C;
}
footer ul,
footer ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer nav {
  padding: 0 0rem
}
footer a {
  color: #0F0F1F;
  line-height: 1.75rem;
  padding: 0 0.5rem;
  font-size: 1.01em;
  margin-left: 0.4em;
}
footer .current a {
  color: #0F0F1F;
  font-weight: bold;
}
footer a:hover {
  color: #0F0F1F;
  text-decoration: underline;
}
.current-footer {
  color: #D0AF4C;
  background: #0F0F1F;
  font-weight: bold;
  line-height: 1.67rem;
  padding-left: 0.8em;
  padding-right: 0.8em;
  padding-bottom: -1em;
  display: inline-block;
  border-radius: 0.3em;
  border-top-left-radius: 0em;
  border-top-right-radius: 0em;
  margin-left: 0.4em;
}

/* Code Blocks */
pre {
  background: #282C34 !important;
  border: 1px solid #D0AF4C;
  border-radius: .3em;
  overflow-x: auto;
  white-space: pre;
  text-overflow: clip;
  /* max-height: 700px; */
  margin-bottom: 1em;
  padding: 1em 1em 1em 1.2em;
}

/* Show line number */
.code-line {
  counter-increment: linenumber;
  font-size: 1em;
  line-height: 1.5em;
}
.code-line:before {
  content: counter(linenumber, decimal-leading-zero);
  display: inline-block;
  border-right: 1px solid #D0AF4C;
  background: #282C34;
  color: #999;
  font-size: 0.9em;
  width: 0.5em;
  text-align: justify;
  padding-right: 1.05em;
  margin-left: -0.7em;
  margin-right: 1.2em;
}

/* Show filetype or filename */
.highlight > div > pre > .code-name {
  border-radius: .2em 0 .3em 0;
  padding: .02em .5em .04em .5em;
  margin: -2.2em 0 0 -2em;
}
.code-name {
  display: block;
  background: #D0AF4C;
  color: #0F0F1F;
  margin-bottom: 1em;
  position: absolute;
  font-weight: bold;
  font-size: 0.92rem;
}

/* Custom scrollbar */
/* scroll width*/
html::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}
/* scroll background */
html::-webkit-scrollbar-track {
  border-radius: 4px;
  box-shadow: 0 0 4px #444 inset;
}
/* scroll-bar width */
html::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #D0AF4C;
}

/* pre scrollbar */
pre::-webkit-scrollbar {
  height: 7px;
  width: 8px;
}
pre::-webkit-scrollbar-track {
  background: rgba(#D0AF4C,0,1);
  border: none;
}
pre::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgba(#D0AF4C,0,1);
  box-shadow: inset 0 0 3px rgba(228,195,96,0.7);
}

/* Single code lines */
:not(pre) > code {
  background: #282C34;
  border-bottom: 1px solid #D0AF4C;
  font-weight: 500;
  padding: 0 0.4rem 0.1rem 0.4rem;
}

/* Blockquote */
blockquote {
  background: #282C34;
  border-left: 2px solid #D0AF4C;
  border-radius: .3em;
  padding: 3px 2em 5px;
  line-height: 1.5em;
  font-size: 0.85em;
}

/* Tables */
.xToc {
  background: #282C34;
  border: 1px solid #D0AF4C;
  border-radius: .3em;
  padding: 1.2em 1.5em .8em 1.5em;
  line-height: 1.7em;
  width: 70%;
  margin: auto;
  font-size: 1.1em;
}
.xToc_title {
  font-size: 1.2em;
  font-weight: bolder;
}
.xToc ul {
  list-style-type: none;
  padding-left: 0.8em;
}
.xToc li {
  padding-top: 0 !important;
}
.xToc li:hover {
  border-left: .3em solid #D0AF4C;
  margin-left: -.3em;
}
.xToc li > ul {
  padding-left: 1em;
  width: 100%;
}
.xToc a {
  color: #c0c0c0 !important;
  font-weight: normal;
  display: block;
  border-bottom: dashed 1px #999;
  margin-left: .5em;
}
.xToc a:hover {
  color: #FFD700 !important;
}

table {
  padding: 1px;
  margin: auto;
  border-radius: .2em;
  border-top: 1px solid #D0AF4C;
  border-left: 1px solid #D0AF4C;
  border-right: 1px solid #D0AF4C;
  border-bottom: 1px solid #D0AF4C;
  font-size: 0.85em;
}
table thead th {
  border-bottom: 1px solid #D0AF4C;
  line-height: 1.3em;
}
th, td {
  padding: 4px;
}
tr:nth-child(odd) {
  background: #282C34;
}
tr:nth-child(even) {
  background: #383C44;
}

/* Images, vids, misc. */
img, iframe, video {
  max-width: 100%;
  height: auto;
}
.inline-svg {
  display: inline-block;
  height: 1.15rem;
  width: 1.15rem;
  top: 0.15rem;
  position: relative;
}

#main-image {
  min-width: 40px;
  max-width: 28%;
  width: 140px;
  float: none;
  margin-top: 0em;
  margin-left: 1.3rem;
  margin-bottom: 0em;
  margin-right: 0.35em;
  display: block;
}

#mail-image {
  position: relative;
  max-width: 95%;
  width: 450px;
  margin-top: 0em;
  margin-left: 0.1em;
  display: inline-block;
}
#mail-caption {
  font-size: 0.9em;
  display: inline-block;
}

/* Search bar */
.search-area{
  max-width: 60%;
  float: right;
  position: relative;
  height: 0.4em;
  letter-spacing: 0.1em;
  font-weight: bold;
  line-height: 0;
}

.search-text {
  width: 100%;
  margin-top: -1.3em;
  display: block;
  box-sizing: border-box;
  height: 1.5rem;
  padding: 0 45px 0 8px;
  border: 3px solid #D0AF4C;
  border-radius: 3px;
  background: #0F0F1F;
  color: #ddd;
  font-size: 0.8em;
  outline: 0; /* don't display outline*/
}
.search-text:focus {
  background: #2F2F3F;
}
.search-text::-ms-clear {
  display: none; /* disable 'X' mark */
}

.search-button {
  position: absolute;
  box-sizing: border-box;
  height: 1.42em;
  margin-top: -1.3em;
  margin-right: 0.02em;
  padding: 0px 5px;
  top: 0.3em;
  right: 0.05em;
  background: #D0AF4C;
  color: #0F0F1F;
}

.search-results {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  margin-top: 0.4em;
  padding: 5px 5px 1.5px 30px;
  border: 3px solid #D0AF4C;
  border-radius: 3px;
  background: #0F0F1F;
  color: #ddd;
  font-size: 0.75em;
  outline: 0; /* don't display outline*/
  position: relative;
  z-index: 1;
}
.search-results a {
  color: #D0AF4C;
  text-decoration: none;
}
.search-results a:hover {
  color: #FFD700;
  text-decoration: none;
}

input::placeholder {
  color: #bbb;
}
input:-ms-input-placeholder {
  color: #bbb;
}
input::-ms-input-placeholder {
  color: #bbb;
}

/* Sharing buttons */
.sharing-buttons {
  display: inline-block;
  margin-bottom: -1.5em;
}
.sharing-buttons-area {
  float: left;
}
.sharing-buttons .inline-svg {
  float: left;
  padding: 0.1em 1em 0.1em 1em;
  margin-left: 1vw;
  margin-right: 1vw;
  border-radius: 8px;
  background-color: #ddd;
}
.sharing-buttons .inline-svg:hover {
  background-color: #fff;
}
.sharing-button-twitter .inline-svg:hover {
  color: #1d9bf0 !important;
}
.sharing-button-facebook .inline-svg:hover {
  color: #1778f2 !important;
}
.sharing-button-hatena .inline-svg:hover {
  color: #00a4de !important;
}
.sharing-button-pocket .inline-svg:hover {
  color: #ee4056 !important;
}
.sharing-button-soundcloud .inline-svg:hover {
  color: #ff7521 !important;
}
.sharing-button-share .inline-svg:hover {
  color: #337777 !important;
}

/* Shortcodes */
.private {
  background: #2e2222;
  color: #f11;
  padding: 0.5em;
  border: solid 1px #f11;
}
.private::before {
  content: "------Private------";
  display: block;
  font-weight: bolder;
}

.steam-link {
  width: 450px;
  height: 200px;
}

.img-wrapper img {
  transition-duration: 0.4s;
}
.img-wrapper img:hover {
  transform: scale(1.05, 1.05);
  transition-duration: 0.3s;
}
